/.idea/
/vendor/
/*.json
/*.srs
/*.db
/site/
/bin/
/dist/
/sing-box
/sing-box.exe
/sing-box_*
/test_arm64
/build/
/release/bin/
/*.jar
/*.aar
/*.xcframework/
.DS_Store
/config.d/
/venv/
CLAUDE.md
AGENTS.md
/.claude/
